<template>
  <div>
    <p v-html="html"></p>
    <textarea v-model="html" ref="editor"></textarea>
  </div>
</template>

<script>
import autosize from 'autosize';
export default {
  name: "app",
  data () {
    return {
        html: ""
    }
  },
  mounted () {
    autosize(this.$refs.editor)
  }
};
</script>

<style scoped>
textarea {
  display: block;
  width: 100%;
}
</style>
